<!DOCTYPE HTML>

<html>

<head>
	<title>Celeste</title>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- Custom style to override bootstrap -->
	<link rel="stylesheet" href="static/css/sun style.css">

    <!-- Sun Facts! -->
    <script src="static/js/Sun Facts.js"></script>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Bootstrap javascript cdn -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<!-- DateRangePicker files -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <!-- Progress bar files -->
    <script src="static/js/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="static/css/jquery-ui.min.css">

    <!-- Dynamically loaded data files -->
    <script type="text/javascript" src="static/js/source_list.js"></script>
    <script type="text/javascript" src="static/js/celest.js"></script>
		
</head>


<body>
	<div>
	<img class="logo" src="static/web_assets/Logo-QuickFix.jpg" />
	</div>
	
	
<!-- Intro paragraph with instructions -->
	<div class="custom-intro">
	<p>Welcome to Celeste! This handy tool collects SDO image files and metadata for use in OpenSpace. After selecting and downloading the desired data, extract the zip file into your Solar Data folder (by default ccmc_files/solarbrowsingdata/event/<event_name>/imagedata/<yyyy>/<mm>/<dd>/<sub_event>). Then navigate to  /data/assets/sunearthday/solarhack.scene and change the "local SolarImageryBasePath" variable to be the full path of the "solarbrowsingdata" directory indicated above. Enjoy!</p>
	</div>



<!--Section 1 - select planet, date range, time range, resolution -->
	<img class="logo" src="static/web_assets/InfoIcon-QuickFix.jpg" />
	<div class = "section1">
	<div class="row">
		<div class="col-lg-3">
		<div class="custom-border">

	<!--Planet selection-->
			<h2>Space Thang</h2>
			<div class="dropdown btn-group">
				<div class="dropdown" id="space_thang_dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="space_thang">Select thang...
					<span class="caret"></span></button>
						<ul class="dropdown-menu">
						  <li><a href="#" id="space_thang_sun">Sun</a></li>
						</ul>
				</div>
			</div>
		</div>
		</div>
		
		<!--Date range selection-->
		<div class="col-lg-3">
		<div class="custom-border">
			<h2>Date(s)</h2>
			<form>
			  <input type="date" name="startdate"><br><input type="date" name="enddate">
			</form>
		</div>
		</div>
		
		<!--Time range selection-->
		<div class="col-lg-3">
		<div class="custom-border">
			<h2>Time</h2>
			<form action="/action_page.php">
			  hh:mm am/pm
			  <br>
			  <input type="time" name="starttime"><br><input type="time" name="endtime">
			</form>
		</div>
		</div>
		
		<!--Resolution selection-->
		<div class="col-lg-3 text-center">
			<h2>Resolution</h2>
			<div class="dropdown btn-group">
				<div class="dropdown" id="resolution_dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="resolution">Select resolution
					<span class="caret"></span></button>
						<ul class="dropdown-menu" id="resolution_list">
						  <li><a href="#" id="resolution_lowest">Lowest</a></li>
						  <li><a href="#" id="resolution_low">Low</a></li>
						  <li><a href="#" id="resolution_medium">Medium</a></li>
						  <li><a href="#" id="resolution_high">High</a></li>
						  <li><a href="#" id="resolution_highest">Highest</a></li>
						</ul>
				</div>
			</div>
		</div>
	</div> 
	</div>
	



<!--Section 2 - select observatories and wavelengths-->	
	<img class="logo" src="static/web_assets/Observatory-QuickFix.jpg" />
	<div class = "section2">
	<div class="row">
	<h2 class="text-center">Observatory</h2>
		
	<!--SDO and wavelength selection-->
		<div class="col-lg-3">
		<div class="custom-border2" id="data_source_col_0">
		</div>
		</div>
		
		
	<!--SOHO and wavelength selection-->
		<div class="col-lg-3">
		<div class="custom-border2" id="data_source_col_1">
		</div>
		</div>
		
		
	<!--Stereo B and wavelength selection-->
		<div class="col-lg-3">
		<div class="custom-border2" id="data_source_col_2">
		</div>
		</div>
		
		
	<!--Stereo A and wavelength selection-->
		<div class="col-lg-3">
		<div id="data_source_col_3">
		</div>
		</div>
	</div> 
	</div>
	
	
	
	
	
	
<!--Download button section-->
	<div>
	<button type="button" class="custom-btn" onclick = "loadFact();startDownload();">START DOWNLOAD</button>
	</div>
	
	<div>
	
<!--Status of download section-->	
	<div class="status">
	<p>STATUS // <span id="statusState">IDLE</span></p>
	</div>
	<p>

      <!--Sun facts section-->	
	  <div id="factDisplay" class = "section1">
		<!-- Facts will display and cycle here -->
	  </div>
    </p>
    <div id="progressbar"></div>
  </div>
  
 
<!--Image preview section-->	
	<div id="imageDisplay" class = "imageSection">
		<img src="static/web_assets/400x400_SunExample.jpg" />
</div>  
	
<!--Footer for logos and attributions-->
	<div class="CCLogos">
	<p>Created by <a href="https://github.com/HackTheSolarSystem/Celeste" target="_blank">
	Solar Express</a> in collaboration with 
	<a href="https://www.openspaceproject.com" target="_blank">
	OpenSpace. </a>
	</p>
	<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
	<img src="static/web_assets/CreativeCommonsLicense-Logos.png">
	</a>
	</div>
 
</body>

</html>
